@charset "utf-8";
/* CSS Document */
body {
  padding-top: 0px;
  font-family: Verdana, Geneva, sans-serif;
}
.color-rojo{color:#F00;}
.color-azul{color:#00F;}
.color-celeste{color:#06F;}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.cnt-mensajebienvenida{
	background:#101010;
	padding-bottom: 20px;
	min-height:100%;
}
.cnt-mensajebienvenida  h1,h2{
	color:#F0F0F0;
}
.enlaces{
	margin-top:20px;
}
.cabecera-enlaces{
	font-size:24px;
	font-weight:bold;
	color:#EFEFEF;
	text-shadow:3px 3px #333;
}
.lista-enlaces{
	padding-left:5px;

}
.lista-enlaces li{
	margin-top:5px;
}
.iconos-enlaces{
	font-size:19px;
	background:#999;
	margin-left:-15px;
	margin-right:5px;
}
.icono-mail{color:#FF0;}
.icono-banco{background:none;}
.icono-facebook{color:#000082;font-size:20px !important;background:none; border: 5px 5px 5px 5px;}
.icono-twitter{color:#06C;font-size:20px !important;background:none;}
.icono-youtube{color:#F00;font-size:20px !important;background:none;}
.icono-sol1{color:#FF0;background:none;}
.icono-sol2{color:#F60;background:none;}
.lista-enlaces a{
	color:#CCC;
	background-color:#666;
	padding:2px;
	border-radius: 5px 5px 5px 5px;
	
}
.lista-enlaces a:hover{
	text-decoration:none;
	background:#000;
	color:#FFF;
	font-weight:bold;	
	-webkit-transition-property:all;
	-webkit-animation-duration:100;
	font-size:18px;
	}
.noticias-rss a:hover > p{
	display:block;
}
.noticias-rss p{
	display:none;
	background:#E8E8E8;
	font-size:12px;
	margin-top:5px;
	margin-left:5px;
}
.font-ltda{
	font-size:-3px;
}
.cnt-servicios h1{
	color: #000;
}
@media (max-width : 768px) {
	.carousel-enlaces{
		display: none;
	}