@charset "utf-8";
/* CSS Document */

body {
 
  padding-top: 0px;
  /*font-family: Verdana, Geneva, sans-serif;*/
  font-family:Arial, Helvetica, sans-serif;
}
.navbar-brand{
	font-size:24px;
	font-weight:bold;
}
.img-logo{
	float:left;
	
	margin-top:-18px;
	height:75px;
	width:85px;
}
.color-rojo{color:#F00;}
.color-azul{color:#00F;}
.color-celeste{color:#06F;}
.color-cosepar{color:#0EA85A;}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.fondo-seccion-negra{
background:#101010;
}
.cnt-mensajebienvenida{
	
	padding-bottom: 20px;
	min-height:180px;
	
}
.cnt-mensajebienvenida  h1,h2{
	color:#F0F0F0;
}
.img-logo-bienvenida{
	padding-top:10px;
	width:150px;
	height:140px;
}
.enlaces{
	margin-top:20px;
}
.cabecera-enlaces{
	font-size:24px;
	font-weight:bold;
	color:#EFEFEF;
	color:#EEE;
	text-shadow:3px 3px #333;
}
.lista-enlaces{
	padding-left:5px;

}
.lista-enlaces li{
	margin-top:5px;
}
.iconos-enlaces{
	font-size:19px;
	background:#999;
	margin-left:-15px;
	margin-right:5px;
}
.icono-mail{color:#FF0;}
.icono-banco{background:none;}
.icono-facebook{color:#000082;font-size:20px !important;background:none; border: 5px 5px 5px 5px;}
.icono-twitter{color:#06C;font-size:20px !important;background:none;}
.icono-youtube{color:#F00;font-size:20px !important;background:none;}
.icono-sol1{color:#FF0;background:none;}
.icono-sol2{color:#F60;background:none;}
.lista-enlaces a{
	color:#FFF;
	background-color:#333;
	opacity:0.7;
	padding:2px;
	border-radius: 5px 5px 5px 5px;
	
}
.lista-enlaces a:hover{
	text-decoration:none;
	background:#000;
	color:#FFF;
	font-weight:bold;	
	-webkit-transition-property:all;
	-webkit-animation-duration:100;
	font-size:18px;
	}
.noticias-rss a:hover > p{
	display:block;
}
.noticias-rss p{
	display:none;
	background:#E8E8E8;
	font-size:12px;
	margin-top:5px;
	margin-left:5px;
}
.font-ltda{
	font-size:-3px;
}
.cnt-servicios{
	padding-bottom:60px;
}
.cnt-servicios h1{
	color: #333;
	padding-top:10px;
	padding-bottom:70px;
	font-size:45px;
	font-weight:700;
}
.servicio{
	position: relative;
	margin-left:-15px;
	height: 170px;
    width: 170px;
	transition: all 1s ease;
	transform: perspective(600px);
	transform-origin: 100% 100%;
	transform-style: preserve-3d;
}
.servicio a{
	text-decoration:none;
	color:inherit;
	
	
}
.servicio:hover {
	transform: perspective(600px) rotateY(-180deg) translateX(100%);
	cursor:pointer;
	
}
.serv-cara1 , .serv-cara2{
	border:2px solid #333;
	border-radius: 85px;	
	height:170px;
	width:170px;
	font-size:30px;
	backface-visibility: hidden;
	position:absolute;
	top:0;
	left:0;
}
.serv-cara2{
	background: #333;
	transform: rotateY(-180deg);

}
.serv-cara2 .icono-serv, .serv-cara2 .leyenda-serv{
	color:#FFF;
}
.icono-serv{
	padding-left:45px;
	padding-top:20px;
	font-size:70px !important;
	display:block;
	
}

.leyenda-serv{
	font-size:17px;
	padding-left:15px;
	font-weight:700;
}
.agua .icono-serv{
	padding-left:50px;
}
.agua .leyenda-serv{
	padding-left:22px;
	font-size:18px;
}
.tv .leyenda-serv{
	padding-left:34px;
	font-size:22px;
}
.internet .leyenda-serv{
	padding-left:42px;
	font-size:22px;
}
.sepelio .icono-serv{
	padding-top:5px;
	padding-left:60px;
	font-size:75px !important;
}
.sepelio .leyenda-serv{
	margin-top:-20px;
	padding-left:46px;
	font-size:22px;
}
.cnt-energia{
	padding-top:20px;
	padding-bottom:40px;
}
.cnt-energia h1,.cnt-energia h4{
	color:#F0F0F0;
	
}
.img-energia{
	min-width:90%;
}
.cnt-agua{
	padding-top:20px;
	padding-bottom:40px;
}
.cnt-agua h1.,cnt-agua h4{
	color:#000;
	
	
}
.img-agua{
	margin-left:-30px;
}
/*
@media (max-width : 1340px) and (max-width < 1200) {
	.img-logo{
	position:absolute;
	margin-top:-5px;
	margin-left:-40px;
	height:30px;
	width:40px;
}
@media (max-width : 1200px) {
	.img-logo{
	display:none;
}
}*/
@media (max-width : 768px) {
	.carousel-enlaces{
		display: none;
	}