@charset "utf-8";
/* CSS Document */
body {
  padding-top: 0px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.cnt-mensajebienvenida{
	background:#101010;
	min-height:300px;
}
.font-ltda{
	font-size:-3px;
	

	}